<footer class="page-footer indigo lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">A lot of books for developer who feel passion to read and learn hot and amazing things everyday.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Look up for level</h5>
          <ul>
            <li><a class="white-text" href="#!">Bigginers</a></li>
            <li><a class="white-text" href="#!">Junior Developers</a></li>
            <li><a class="white-text" href="#!">Intermate Developers</a></li>
            <li><a class="white-text" href="#!">Senior Developers</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Medium</a></li>
            <li><a class="white-text" href="#!">Linked</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">GeSof</a>
      </div>
    </div>
  </footer>
