<nav class="indigo" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container"  routerLink="" routerLinkActive="active" class="brand-logo">Foreadev</a>


      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons left">search</i>Search</a></li>
        <li><a routerLink="catalog" routerLinkActive="active" ><i class="material-icons right">view_module</i>Catalog</a></li>
        <li><a ><i class="material-icons right">perm_identity</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
