<div class="container">
  <h4 class="header">List of Catalog</h4>

  <div class="row"  >
    <div class="col s6 m4" *ngFor="let book of books"   >
        <div class="card">
          <div class="card-image">
            <img  src="{{book.img}}">
            <span class="card-title">{{book.title}}</span>

            <a class="btn-floating halfway-fab waves-effect waves-light green"  ><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h6>Author:</h6>
            <p>{{book.author}}</p>
            <h6>Description:</h6>
            <p>{{book.description}}</p>
            <br>
            <a class="btn-mark btn-likes"><i class="material-icons">thumb_up</i> {{book.likes}}</a>
               <a class="btn-mark btn-unlikes"><i class="material-icons">thumb_down</i>{{book.unlikes}}</a>
          </div>

        </div>
      </div>
  </div>

</div>
