.img-catalog{
  width: 300px;
  height: 400px;
}

.img-detail{
  width: 500px;
  height: 650px;

}

.text-detail{
  padding-left: 30px;
}

.btn-mark{
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
}

.btn-likes{
  background: #658BF4;
}

.btn-unlikes{
  background: #F44336;
}
